@using SAAS_Projectplanningtool.Pages.Projects
@model SAAS_Projectplanningtool.Pages.Projects.ProjectHandlerPageModel
@{
    ViewData["Title"] = "Aufgabe bearbeiten";
}
<!-- Edit Task Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="EditProjectTask">
                <div class="modal-header">
                    <h5 class="modal-title">Aufgabe bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editTaskId" name="taskId" />
                    <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
                    <div class="mb-3">
                        <label class="form-label">Aufgabenname</label>
                        <input type="text" class="form-control" id="editTaskName" name="name" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Startdatum</label>
                            <input type="date" class="form-control" id="editTaskStartDate" name="startDate" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Enddatum</label>
                            <input type="date" class="form-control" id="editTaskEndDate" name="endDate" />
                        </div>
                    </div>

                    <input asp-for="IsScheduleEntry" id="editTaskIsScheduleEntry" class="form-check-input" />
                    <label asp-for="IsScheduleEntry" class="form-check-label">Im Terminplan speichern</label>

                    <input asp-for="IsTaskCatalogEntry" id="editTaskIsTaskCatalogEntry" class="form-check-input" />
                    <label asp-for="IsTaskCatalogEntry" class="form-check-label">Als Katalogeintrag speichern</label>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>