@page
@model SAAS_Projectplanningtool.Pages.Companies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.CompanyId" class="control-label"></label>
                <input asp-for="Company.CompanyId" class="form-control" />
                <span asp-validation-for="Company.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.SectorId" class="control-label"></label>
                <select asp-for="Company.SectorId" class ="form-control" asp-items="ViewBag.SectorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company.LicenseId" class="control-label"></label>
                <select asp-for="Company.LicenseId" class ="form-control" asp-items="ViewBag.LicenseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company.AddressId" class="control-label"></label>
                <select asp-for="Company.AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company.DefaultWorkDays" class="control-label"></label>
                <input asp-for="Company.DefaultWorkDays" class="form-control" />
                <span asp-validation-for="Company.DefaultWorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
