@page
@model SAAS_Projectplanningtool.Pages.CustomerManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.CustomerId" />
            <input type="hidden" asp-for="Customer.Address.AddressId" />
            <input type="hidden" asp-for="Customer.CompanyId" />
            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label"></label>
                <input asp-for="Customer.CustomerName" class="form-control" />
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address.Country" class="control-label">Land</label>
                <input asp-for="Customer.Address.Country" class="form-control" />
                <span asp-validation-for="Customer.Address.Country" class="text-danger"></span>

                <label asp-for="Customer.Address.Region" class="control-label">Region</label>
                <input asp-for="Customer.Address.Region" class="form-control" />
                <span asp-validation-for="Customer.Address.Region" class="text-danger"></span>

                <label asp-for="Customer.Address.PostalCode" class="control-label">Postleitzahl</label>
                <input asp-for="Customer.Address.PostalCode" class="form-control" />
                <span asp-validation-for="Customer.Address.PostalCode" class="text-danger"></span>

                <label asp-for="Customer.Address.City" class="control-label">Stadt</label>
                <input asp-for="Customer.Address.City" class="form-control" />
                <span asp-validation-for="Customer.Address.City" class="text-danger"></span>

                <label asp-for="Customer.Address.Street" class="control-label">Straße</label>
                <input asp-for="Customer.Address.Street" class="form-control" />
                <span asp-validation-for="Customer.Address.Street" class="text-danger"></span>

                <label asp-for="Customer.Address.HouseNumber" class="control-label">Hausnummer</label>
                <input asp-for="Customer.Address.HouseNumber" class="form-control" />
                <span asp-validation-for="Customer.Address.HouseNumber" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
