@page
@model ErrorModel
@{
    ViewData["Title"] = "Fehler";
}

<h2 class="text-danger">Beim Verarbeiten Ihrer Anfrage ist ein Fehler aufgetreten.</h2>

@if (!string.IsNullOrEmpty(Model.LogfileId))
{
    <p>
        Bitte wenden Sie sich mit folgender <strong>Fehler-ID</strong> an unseren Ansprechpartner:
    </p>
    <p>
        <strong>Fehler-ID:</strong> <code>@Model.LogfileId</code>
    </p>
    <p>
        <strong>Kontakt:</strong> 
   @*      <a href='mailto:patrick.sterneder@gmail.com?subject=Fehler%20{@Model.LogfileId}&body=Sehr%20geehrter%20Support%2C%0A%0Aes%20ist%20ein%20Fehler%20aufgetreten.%20Die%20Logfile-ID%20lautet%3A%20@Model.LogfileId%0A%0AMit%20freundlichen%20Grüßen%2C%0A'>
            Patrick Sterneder
        </a> *@
        @{
            var subject = $"Fehler: {Model.LogfileId}";
            var body = $"Sehr geehrter Support,\n\nes ist ein Fehler aufgetreten. Die Logfile-ID lautet: {Model.LogfileId}\n\nMit freundlichen Grüßen,\n";
        }
        <a href="mailto:patrick.sterneder@gmail.com?subject=@Uri.EscapeDataString(subject)&body=@Uri.EscapeDataString(body)">
            Patrick Sterneder
        </a>

    </p>
}
else if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}