@page
@model SAAS_Projectplanningtool.Pages.EmployeeManagement.HourlyRateGroups.DetailsModel

@{
    ViewData["Title"] = Model.HourlyRateGroup.HourlyRateGroupName;
}

<link rel="stylesheet" href="~/css/employee.css" asp-append-version="true" />

@await Html.PartialAsync("DetailsPartials/_Header", Model)

<div class="em-detail-grid">

    <div>
        @await Html.PartialAsync("DetailsPartials/_GroupDetails", Model)
    </div>

    @await Html.PartialAsync("DetailsPartials/_Sidebar", Model)

</div>
