footer {
    background-color: #2C3E50;
    text-align: center;
    height:62px;
    padding:20px;
}

.main-container{
    height:100%
}
.pb-3 {
    padding-bottom: 0px !important;
    height:100%
}
.navbar {
    background-color: #2C3E50;
    margin:0px !important;
}
.nav-link {
    color: #E8F6FE!important
}

.left-menu {
    background-color: #ECECEC;
}

.left-menu-item {
    background-color: #2C3E50;
    color: #E8F6FE;
    padding: 12px;
    margin: 12px 20px;
    text-align:center;
    border-radius:8px;
}
.left-menu-link {
    background-color: #2C3E50;
    color: #E8F6FE;
    text-align:center;
    text-decoration: none;
}

.footer-menu {
    color: #E8F6FE
}