html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
}

body {
    height:100%
}
main{
    height:100%
}
footer {

    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}
.a_muted {
    text-decoration: none;
        border:none
}
