@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Mitarbeiteranlage</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeDisplayName" class="control-label">Anzeigename</label>
                <input asp-for="Employee.EmployeeDisplayName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.HourlyRateGroupId" class="control-label">Stundensatzgruppe</label>
                <select asp-for="Employee.HourlyRateGroupId" class="form-control" asp-items="ViewBag.HourlyRateGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.IdentityRoleId" class="control-label">Rolle</label>
                <select asp-for="Employee.IdentityRoleId" class="form-control" asp-items="ViewBag.IdentityRoleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/EmployeeManagement/Index">Zurück</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
