@page
@model DetailsModel

@{
    ViewData["Title"] = Model.Employee.EmployeeDisplayName;
}

<link rel="stylesheet" href="~/css/employee.css" asp-append-version="true" />

@await Html.PartialAsync("DetailsPartials/_Header", Model)

<div class="em-detail-grid">

    <div>
        @await Html.PartialAsync("DetailsPartials/_Stammdaten", Model)
    </div>

    @await Html.PartialAsync("DetailsPartials/_Sidebar", Model)

</div>
