@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.EmployeeId" />
            <input type="hidden" asp-for="Employee.IdentityUserId" />
            <input type="hidden" asp-for="Employee.CompanyId" />
            <div class="form-group">
                <label asp-for="Employee.EmployeeDisplayName" class="control-label">Anzeigename</label>
                <input asp-for="Employee.EmployeeDisplayName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.HourlyRateGroupId" class="control-label">Stundensatzgruppe</label>
                <select asp-for="Employee.HourlyRateGroupId" class="form-control" asp-items="Model.HourlyRateGroups"></select>
                <span asp-validation-for="Employee.HourlyRateGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.IdentityRoleId" class="control-label">Rolle</label>
                <select asp-for="Employee.IdentityRoleId" class="form-control" asp-items="ViewBag.IdentityRoleId"></select>
                <span asp-validation-for="Employee.IdentityRoleId" class="text-danger"></span>
            </div>
       
 
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
