@page
@model SAAS_Projectplanningtool.Pages.ArticleManagement.ArticleCategoryDetailsModel

@{
    ViewData["Title"] = Model.Category.CategoryName;
}

<link rel="stylesheet" href="~/css/employee.css" asp-append-version="true" />

@await Html.PartialAsync("Partials/_CategoryHeader", Model)

<div class="em-detail-grid">

    <div>
        @await Html.PartialAsync("Partials/_CategoryInfo", Model)
        @await Html.PartialAsync("Partials/_CategoryArticleTable", Model)
    </div>

    @await Html.PartialAsync("Partials/_CategorySidebar", Model)

</div>

