@page
@model SAAS_Projectplanningtool.Pages.ArticleManagement.DetailsModel

@{
    ViewData["Title"] = Model.Article.ArticleName;
}

<link rel="stylesheet" href="~/css/employee.css" asp-append-version="true" />

@await Html.PartialAsync("Partials/_ArticleHeader", Model)

<div class="row">

    <div class="col-12 col-md-9">
        @await Html.PartialAsync("Partials/_ArticleInfo", Model)
    </div>

    <div class="col-12 col-md-3">
        @await Html.PartialAsync("Partials/_ArticleSidebar", Model)
    </div>
</div>

