@page
@model SAAS_Projectplanningtool.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Neues Projekt";
}


<h1>Projektanlage</h1>
<hr />
<div class="row">


    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label">Name</label>
                <input required asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ProjectDescription" class="control-label">Beschreibung</label>
                <textarea required asp-for="Project.ProjectDescription" class="form-control"></textarea>
                <span asp-validation-for="Project.ProjectDescription" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Project.CustomerId" class="control-label">Kunde</label>
                @if(Model.customer == null)
                {
                    <select required asp-for="Project.CustomerId" class="form-control" asp-items="Model.Customers">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                }
                else{
                    <input required asp-for="Project.CustomerId" class="form-control" value="@Model.customer.CustomerId" readonly style="display:none"/>
                    <input class="form-control" value="@Model.customer.CustomerName" readonly/>
                }
                
                <span asp-validation-for="Project.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ResponsiblePersonId" class="control-label">Projektverantwortliche*r</label>
                <select required asp-for="Project.ResponsiblePersonId" class="form-control" asp-items="Model.ProjectLeads">
                    <option value="">-- Bitte wählen --</option>
                </select>
                <span asp-validation-for="Project.ResponsiblePersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialBudget" class="control-label">Verfügbares Budget</label>
                <input required asp-for="InitialBudget" class="form-control" />
                <span asp-validation-for="InitialBudget" class="text-danger"></span>
            </div>

            <!-- Weitere Felder wie Name, StartDate, etc. -->

            <div class="form-group">
                <input type="submit" value="Speichern & Weiter zur Terminplanung" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h5>Arbeitszeit-Konfiguration</h5>
        <hr />

        <!-- Quick Presets -->
        <div class="quick-presets">
            <h6>Schnelleinstellungen:</h6>
            <button type="button" class="btn btn-sm btn-outline-primary preset-btn" onclick="setStandardWorkWeek()">
                Standard (Mo-Fr 8:00-17:00)
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary preset-btn" onclick="setFlexibleWorkWeek()">
                Flexibel (Mo-Fr 9:00-18:00)
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary preset-btn" onclick="setPartTimeWeek()">
                Teilzeit (Mo-Mi 8:00-16:00)
            </button>
        </div>

        <div class="working-hours-section">
            <h6>Arbeitstage & -zeiten</h6>

            <div class="working-time-row" id="monday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Monday" id="monday" onchange="toggleDay('monday')">
                    <label class="form-check-label" for="monday">Montag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="monday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.MondayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.MondayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="tuesday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Tuesday" id="tuesday" onchange="toggleDay('tuesday')">
                    <label class="form-check-label" for="tuesday">Dienstag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="tuesday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.TuesdayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.TuesdayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="wednesday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Wednesday" id="wednesday" onchange="toggleDay('wednesday')">
                    <label class="form-check-label" for="wednesday">Mittwoch</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="wednesday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.WednesdayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.WednesdayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="thursday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Thursday" id="thursday" onchange="toggleDay('thursday')">
                    <label class="form-check-label" for="thursday">Donnerstag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="thursday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.ThursdayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.ThursdayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="friday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Friday" id="friday" onchange="toggleDay('friday')">
                    <label class="form-check-label" for="friday">Freitag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="friday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.FridayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.FridayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="saturday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Saturday" id="saturday" onchange="toggleDay('saturday')">
                    <label class="form-check-label" for="saturday">Samstag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="saturday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.SaturdayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.SaturdayEnd" class="form-control time-input" />
                </div>
            </div>

            <div class="working-time-row" id="sunday-row">
                <div class="form-check day-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="_defaultWorkingTimeHandler.Sunday" id="sunday" onchange="toggleDay('sunday')">
                    <label class="form-check-label" for="sunday">Sonntag</label>
                </div>
                <div class="d-flex align-items-center mt-2" id="sunday-times">
                    <input type="time" asp-for="_defaultWorkingTimeHandler.SundayStart" class="form-control time-input" />
                    <span class="mx-2">bis</span>
                    <input type="time" asp-for="_defaultWorkingTimeHandler.SundayEnd" class="form-control time-input" />
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    <a asp-page="/Index">Zurück zum Dashboard</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
