@page
@model SAAS_Projectplanningtool.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Neues Projekt";
}


<h1>Projektanlage</h1>
<hr />
<div class="row">
    
        <form method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label">Name</label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ProjectDescription" class="control-label">Beschreibung</label>
                <textarea asp-for="Project.ProjectDescription" class="form-control"></textarea>
                <span asp-validation-for="Project.ProjectDescription" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Project.CustomerId" class="control-label">Kunde</label>
                <select asp-for="Project.CustomerId" class="form-control" asp-items="Model.Customers">
                    <option value="">-- Bitte wählen --</option>
                </select>
                <span asp-validation-for="Project.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ResponsiblePersonId" class="control-label">Projektverantwortliche*r</label>
                <select asp-for="Project.ResponsiblePersonId" class="form-control" asp-items="Model.ProjectLeads">
                    <option value="">-- Bitte wählen --</option>
                </select>
                <span asp-validation-for="Project.ResponsiblePersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialBudget" class="control-label">Verfügbares Budget</label>
                <input asp-for="InitialBudget" class="form-control" />
                <span asp-validation-for="InitialBudget" class="text-danger"></span>
            </div>

            <!-- Weitere Felder wie Name, StartDate, etc. -->

            <div class="form-group">
                <input type="submit" value="Speichern & Weiter zur Terminplanung" class="btn btn-primary" />
            </div>
            </div>
        </form>

    
</div>

<div>
    <a asp-page="/Index">Zurück zum Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
