@page
@model SAAS_Projectplanningtool.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label"></label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ProjectDescription" class="control-label"></label>
                <input asp-for="Project.ProjectDescription" class="form-control" />
                <span asp-validation-for="Project.ProjectDescription" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Project.CustomerId" class="control-label"></label>
                <select asp-for="Project.CustomerId" class="form-control" asp-items="Model.Customers">
                    <option value="">-- Bitte wählen --</option>
                </select>
                <span asp-validation-for="Project.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.ResponsiblePersonId" class="control-label"></label>
                <select asp-for="Project.ResponsiblePersonId" class="form-control" asp-items="Model.ProjectLeads">
                    <option value="">-- Bitte wählen --</option>
                </select>
                <span asp-validation-for="Project.ResponsiblePersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialBudget" class="control-label"></label>
                <input asp-for="InitialBudget" class="form-control" />
                <span asp-validation-for="InitialBudget" class="text-danger"></span>
            </div>

            <!-- Weitere Felder wie Name, StartDate, etc. -->

            <div class="form-group">
                <input type="submit" value="Projekt anlegen" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="/Index">Zurück zum Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
