@page
@using SAAS_Projectplanningtool.Pages.Projects
@model SAAS_Projectplanningtool.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = Model.Project?.ProjectName;
    <link rel="stylesheet" href="~/css/TimeTracking.css" />
}

<div class="project-details-container">

    <!-- Header -->
    @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_Header.cshtml", Model)

    <!-- Statistics -->
    @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_Statistics.cshtml", Model)
    
    <!-- TaskCatalog -->
    @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_ProjectInfo.cshtml", Model)
    <div class="row">
        <div class="col -12 col-md-5">
            @if (Model.Project?.LatestModifier != null)
            {
                @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_LastModification.cshtml", Model)
            }
        </div>

            @if (!User.IsInRole("Viewer"))
            {
                <div class="col-12 col-md-7">
                    @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_TaskCatalog.cshtml", Model)
                </div>
            }
        </div>
        
    </div>

    @if (!User.IsInRole("Viewer"))
    {
        <!-- Full Width Sections -->
        <div class="full-width-sections">
            @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_ProjectStructure.cshtml", Model)
            @await Html.PartialAsync("~/Pages/Projects/DetailsPartials/_QuickActions.cshtml", Model)
        </div>
    }
    else
    {
        <h2 class="expenses-title">
            <i class="fas fa-receipt"></i>
            Zeitbuchungen
        </h2>
        <div id="timeTracking">
            @await Html.PartialAsync("PartialViews/_TimeTracking") @* TODO: In DetailsPartials umziehen *@
        </div>
    }

</div>

<!-- Feedback Messages -->
@{
    var message = TempData.GetMessage();
}
@if (message != null)
{
    <div class="alert alert-@message.Type.ToLower() notification-alert" id="feedback-message">
        @message.Message
    </div>
}

<!-- Modals -->
@await Html.PartialAsync("~/Pages/Projects/Modals/_AddSectionModal.cshtml", (ProjectHandlerPageModel)Model)
@await Html.PartialAsync("~/Pages/Projects/Modals/_EditTaskModal.cshtml", (ProjectHandlerPageModel)Model)
@await Html.PartialAsync("~/Pages/Projects/Modals/_EditTaskCatalogTaskModal.cshtml", (ProjectHandlerPageModel)Model)
@await Html.PartialAsync("~/Pages/Projects/Modals/_AddTaskCatalogModal.cshtml", (ProjectHandlerPageModel)Model, new ViewDataDictionary(ViewData) { { "Context", "TaskCatalog" } })
@await Html.PartialAsync("~/Pages/Projects/Modals/_DeleteConfirmationModal.cshtml", (ProjectHandlerPageModel)Model)
@await Html.PartialAsync("~/Pages/Projects/Modals/_AddSectionMileStone.cshtml", (ProjectHandlerPageModel)Model)

<script src="~/js/ModalFunctions.js"></script>

<script>
    // Tooltip-Initialisierung
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>

@section Styles {
    <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
}
