@page
@model SAAS_Projectplanningtool.Pages.Projects.ProjectsModel
@using SAAS_Projectplanningtool.Models.Budgetplanning
@{
    ViewData["Title"] = "Projekte";
    ViewData["ShowBreadcrumb"] = true;
    ViewData["BreadcrumbItems"] = new List<dynamic>
    {
        new { Text = "Projekte", Url = "", IsActive = true }
    };
}

<link rel="stylesheet" href="~/css/projectsIndex.css" asp-append-version="true" />

<div class="projects-container">

    @await Html.PartialAsync("IndexPartials/_Header")

    @await Html.PartialAsync("IndexPartials/_Statistics")

    @await Html.PartialAsync("IndexPartials/_FilterSearch")

    @await Html.PartialAsync("IndexPartials/_ProjectList")

</div>

